.reset {
    margin-top: 10px;
    font-family: monospace;
}

li {
    display: flex;
    align-items: center;
}

.tickbox {
    margin-left: 10px;
}

.ticked {
    color: green;
    text-decoration: line-through;
}