<!DOCTYPE html>
<head>
    <title>Habit Tracker</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <div class="upscale">
    <h1 class="text">Habit Tracker</h1>

    <form action="/submit" method="POST">
        <input id="inputs" autocomplete="off" name="inputs" placeholder="Enter habit..." autofocus required>
        <button type="submit" class="btnbg"><span class="text">Submit</span></button>
    </form>

    <form method="POST" action="/reset">
        <button type="submit" class="reset btnbg"><span class="text">Reset</span></button>
    </form>

    {% if alert == "alrthere" %}
    <script>
        alert("You have already added that task!!!")
    </script>
    {% endif %}

    <ul>
    {% for task in tasks %}
        {% if states[loop.index0][0] == 0 %}
            <li class="text">{{ task[0] }}<form method="POST" action="/ticking"><button name="tickbox" class="tickbox" value="{{ task }}">+</button></form></li>
        {% elif states[loop.index0][0] == 1 %}
            <li class="text ticked">{{ task[0] }}<form method="POST" action="/ticking"><button name="tickbox" class="tickbox" value="{{ task }}">✓</button></form></li>
        {% else %}
            <script>
                alert("Error")
            </script>
        {% endif %}
    {% endfor %}
    </ul>
    </div>
</body>